<form method="post" asp-action="ImportDocExcel" enctype="multipart/form-data">
    <div>
        <input type="file" name="excel" id="excel" />
    </div>
    <button class="btn btn-primary" type="submit">Enviar</button>
</form>