@model Cliente;
@{
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<body>
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h2>Iniciar sesión</h2>
                </div>
                <div class="card-body">
                    <form asp-controller="Cliente" asp-action="Login" method="post">
                        <input class="form-control mb-3" type="text" placeholder="Correo" asp-for="Correo" required>
                        <input class="form-control mb-3" type="text" placeholder="Contrasena" asp-for="Contrasena" required>
                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-primary">Iniciar sesion</button>
                        </div>

                        @* Mostrar el mensaje si el usuario no se ha registrado *@
                        @if(ViewData["ErrorMessage"]!= null){
                            <div class="alert alert-danger" role="alert">
                                @ViewData["ErrorMessage"]
                            </div>
                        }
                        <h4>¿No tienes una cuenta?</h4><a asp-controller="Cliente" asp-action="SignUp">Registrarse</a>
                    </form>
                </div>
            </div>
        </div>

    </div>
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>